body{
    background: ;
   display: flex;
    align-content: center;
    
  }
  
  .conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
      /* overflow-x: scroll; */
    /* Adjust scrollbar style if needed */
    /* scrollbar-width: thin; */
    /* scrollbar-color: #ccc #f0f0f0; */
    animation: scroll-right 2s linear both;
    /* animation-timeline: scroll(root);  */
  
  }
  .card{
    display: flex;
    /* height: 300px;
    width: 200px; */
    background-color: grey;
     /* animation: scroll-right linear forwards;
    animation-timeline: scroll(); */
  }
  front{
    display: flex;
    height: 100%;
    
  }
  
  .front img{
   
    height: 100vh;
    
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }