#root {
 max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

body{
  height: 100vh;
  color: white;
  background: linear-gradient(320deg, rgba(13, 33, 49, 0.566), rgb(12 12 12 / 31%));
}

main{
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  background: linear-gradient(320deg, rgb(11 64 105 / 68%), rgb(187 47 47 / 31%));
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -1px 0px 10px 2px #333;
  font-style: italic;
}

form{
  background: #333;
  height: 50px;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 8px;
  justify-content: center;
  box-sizing: border-box;
}
input{
  width: 100%;
  border-radius: 10px;
  border: none;
} 
input:focus{
  inset: none;
  outline: none;
}
button{
border: none;
background-color: transparent;
color: white;
}

#messages{
 /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  height: calc(100% - 50px); 
  overflow-y: scroll;
  scrollbar-color: rgba(114, 84, 162, 0.507) #96998e;
  scrollbar-width: none;
-ms-overflow-style: none;
}
#messages::-webkit-scrollbar-thumb {
 
  border-radius: 10px;    /* Bordes redondeados */
}
/* li:nth-child(odd){
  background-color: rgb(66, 96, 66);
color:white;
text-align: right;
font-style: italic;
font-weight: 600;
} */

.enviado {
  background-color: #e90a0a29;
  border-radius: 10px; 
  color: white;
  text-align: right;
  font-style: italic;
  font-weight: 600;
  padding: 5px;
  box-sizing: border-box;
  animation: effect-scale .2s linear both;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 91% 75%, 96% 95%, 84% 75%, 0% 75%);
  margin-right: 15px;
  margin-left: 15px; */
}

.recibido {
  background-color: #ffa50078;
  border-radius: 10px; 
  color: black;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  box-sizing: border-box;
  animation: effect-scale .2s linear both;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 19% 78%, 0 97%, 8% 76%, 0% 75%);
  margin-right: 15px;
  margin-left: 15px; */
}

@keyframes effect-scale {
  0%{
transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}

ul {
  display: flex;
  flex-direction: column; 
  list-style-type: none;
  padding: 10px;
  margin: 0;
  gap: 5px;
}

text{
  fill-opacity:0;
  stroke-dasharray:1300;
  stroke-dashoffset:1300;
  animation: desfum 5s linear both;
}
@keyframes desfum{
  0%{
    fill-opacity:0;
    
  }

  100%{
      fill-opacity:100%;
      stroke-dashoffset:0;
      stroke-width:5
  }
}