body{
    background: ;
  }
  
  .conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
  
  .card{
    display: flex;
    height: 100%;
    width: 100%;
  }
  .front{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: grey;
    padding: 5px;
    box-sizing: border-box;
  }
  .front img{
    height: 100%;
    width: 100%;
  }